fastapi
uvicorn[standard]
python-multipart
mysql-connector-python
python-dotenv
qdrant-client
sentence-transformers
pypdf
python-docx
langgraph
langgraph-checkpoint-sqlite
langgraph-cli[inmem]
langchain
langchain-google-genai
