vendor/
node_modules/
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
!storage/app/public/.gitkeep
bootstrap/cache/*.php
public/build/
public/hot
.git/
.gitignore
tests/
.phpunit.result.cache
